.containerSpinner {
  display: flex;
  width: 100%;
  margin: 0 16.5rem;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.spinner {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #b4ae51;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px hsl(51, 100%, 50%);
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px rgb(182, 211, 20);
  }
}

.spinner:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

span {
  font-size: 20px;
}
